<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LCH Colour picker</title>
	<meta name="viewport" content="initial-scale=1">
	<link rel="stylesheet" href="style.css">
	<script src="../importmap.js"></script>
	<script type="module">import "color-elements/color-picker"</script>
	<script src="index.js" type="module"></script>
	<link rel="icon" id="favicon">
	<script src="https://stretchy.verou.me/dist/stretchy.iife.min.js" data-stretchy-filter="autosize" async defer></script>
</head>
<body id="app">
	<main :style="{ '--color': css_color }">
		<button type="button" class="add" @click="addPicker" title="Add another color space" aria-label="Add another color space">+</button>

		<div class="pickers">
			<div class="picker" v-for="picker in pickers" :key="picker.id">
				<button v-if="pickers.length > 1" type="button" class="remove" @click="removePicker(picker.id)" title="Remove this color space" aria-label="Remove this color space">×</button>
				<color-picker alpha @colorchange="updateColor($event, picker.id)"></color-picker>
				<p class="out-of-gamut-warning" v-if="gamutWarning(picker.spaceId)">{{ gamutWarning(picker.spaceId) }}</p>
			</div>
		</div>
	</main>
</body>
</html>
